@import "../base.scss";

.Home {
  display: flex;
  // justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: map-get($color, "cream");
  flex-direction: column;

  .container{
    display: flex;
    width: 85vmin;
    height: 70vmin;
    border-radius: 10px;
    background-color: map-get($color, "green");
    flex-direction: column;
    align-items: center;
    justify-content: start;
    font-size: calc(3vmin);
    position: center;
    padding-top: calc(4vmin);
    


    .header{
      font-size: calc(4vmin);
      color: map-get($color, "broken-white");
      font-weight: bold;
      font-family: 'Poppins';
      margin-bottom: calc(4vmin);
    }

    .name{
      width: calc(60vmin);
    }

    .age{
      width: calc(15vmin);
      margin-right: calc(3vmin);
    }
    .weight{
      width: 15vmin;
      
    }
    .height{
      width: 15vmin;
    }
    .unit{
      display: flex;
      color: map-get($color, "broken-white");
      font-size: 2.5vmin;
      align-self: center;
    }
  }

  label{
    display: flex;
    color: map-get($color , "broken-white");
    font-size: 2.5vmin;
    font-weight: bold;
  }

  form{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  
  input{
    display: flex;
    background-color: #F4F4F4;
    color: map-get($color , "brown");
    border: 2px solid #F4F4F4F4;
    border-radius: 5px;
    height: 5vmin;
    width: 60vmin;
    padding-left: 10px;
    margin-bottom: 1vmin;
    font-size: 2.5vmin;
    font-family: 'Poppins';
  }

  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }

  button{
    color: map-get($color , "brown" );
    font-weight: bold;
    background-color: map-get($color , "broken-white");
    border-radius: 10px;
    padding: 0 5vh;
    cursor: pointer;
    border: 0;
  }

  
} 

