@import "../base.scss";

.result{
    display: flex;
  // justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: map-get($color, "cream");
  flex-direction: column;

  .container{
    display: flex;
    width: 85vmin;
    height: 70vmin;
    border-radius: 10px;
    background-color: map-get($color, "green");
    flex-direction: column;
    align-items: center;
    justify-content: start;
    font-size: calc(10px + 2vmin);
    position: center;
    padding-top: 4vh;
    padding-left: 6vh;
    padding-right: 6vh;

    .header{
        font-size: 4vmin;
        color: map-get($color, "broken-white");
        font-weight: bold;
        font-family: 'Poppins';
        margin-bottom: 4vh;
    }

    .bmi{
        display: flex;
        text-align: center;
        color: map-get($color, "broken-white");
        font-weight: 600;
    }

    .bmiNumCon{
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: map-get($color, "broken-white");
      border-radius: 15px;
      height: 15vmin;

      .bmiNum{
          display: flex;
          text-align: center;
          color: map-get($color, "brown");
          font-weight: bold;
          font-size: 6vmin;
      }
    }

    .category{
      font-size: 2.5vmin;
      color: map-get($color, "broken-white");
      font-weight: 600;
    }

    .categoryCon{
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: map-get($color, "broken-white");
      border-radius: 10px;
      height: 5vmin;
      width: 12vmin;

      .categoryNum{
        display: flex;
        text-align: center;
        color: map-get($color, "brown");
        font-weight: 500;
        font-size: 2.5vmin;
      }

    }

    .categories{
      display: flex;
      text-align: center;
      color: map-get($color, "broken-white");
      font-weight: bold;
      font-size: 1.5vmin;
    }
  }

  button{
    color: map-get($color , "brown" );
    font-weight: bold;
    background-color: map-get($color , "broken-white");
    border-radius: 10px;
    padding: 0 5vh;
    cursor: pointer;
    border: 0;
  }
}