@import "constants/colors.scss";
@import "constants/fonts.scss";

.baris{
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: start;
  }

  .column{
    display: flex;
    flex-direction: column;
  }